body {
    background-color: #D5D5D5;
    font-family: Arial, Helvetica, sans-serif;

}

.top {
    background-color: #C9C9C9;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#nav1 {

}

header {

}

.content {
    display: block;
    padding-top: 10rem;
    padding-left: 4rem;
    min-height: 100%;
    width: 90%;
}

p {

}

img {
    max-width: 500px;
}

.bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #C9C9C9;
    text-align: center;
    font-size: small;
}


#nav2 {

}